.App{
  height: 100vh;
}

.App-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--bg-primary);
}

.App-logo {
  width: 70px;
  pointer-events: none;
}

.hero{
 height: 91%;
 background-image: url('/public/assets/images/login-background.jpg');
}

